.modal1{
    max-width: 750px;
}
.modal-header{
    background: url("../img/bg.png")  !important;
    color: white;
}
.close{
    color: whitesmoke;
}
.close:hover{
    color: floralwhite;
}
.B2{
    max-width: 300px;
    color: white;
    font-family: "Montserrat" sans-serif;
    background-color: #012681;
}
.B2:hover{
    background-color: midnightblue;
}