.MLogo{
    width: 40vw;
    margin-top: 5vh;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/try.gif') 50% 50% no-repeat rgb(255,255,255);
    background-size: 100px;
    opacity: 1;
}

#bodypg{
    background: url('../img/bgr.jpg') no-repeat;
}

.I1 {
    margin-top: 30px;
    height: 60px;
    width: auto;
}

.c1{

    margin-top:5vh;
    text-align: center;
}
.c4{
    color: white;
    margin-top:5vh;
    font-family: "Montserrat", sans-serif;
    font-size: 75px;
    text-align: center;
    background:rgba(0,0,102,0.3);
    box-shadow: 2px 2px 4px black;
    max-width: 16%;
    margin-left: 1vw;
    margin-right: 1vw;

}
.c2{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    text-align: center;
}

#button1{
    text-align: center;
}
.B1{
    margin-top: 2vh;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background:transparent;
    border-color: white;

}
.B1:hover{
    background:rgba(0,0,102,0.3);
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

#particles-js canvas{
    z-index: -1;
    margin-top: -600px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media
(max-width : 780px)
    and (min-width: 500px)
{
    .c1,.c4{
        max-width: 16%;
        font-size:1.7rem;
    }

    .c2{
        max-width: 16%;
        font-size:1.6rem;
    }
    .MLogo{
        width: 60vw;        
    }

}
@media (max-width : 500px)
{

    .c1,.c4{
        max-width: 16%;
        font-size:1.3rem;
    }

    .c2{
        max-width: 16%;
        font-size:1.1rem;
    }
    .MLogo{
        width: 60vw;        
    }

}
.ctr{
    text-align: center;
}

